@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  background: linear-gradient(180deg, #e5e7eb 70%, #a9afb9 120%);
  background-attachment: fixed;
}

input[type='text'] {
  border-bottom: 2px solid #a9afb9;
}

input[type='text']:focus {
  border-bottom: 2px solid #6b7280;
}
